<?xml version="1.0" encoding="utf-8"?>
<Stardust>
  <!-- 星尘平台服务器地址 -->
  <!-- 科控物联默认服务器地址：http://47.113.219.65:6600 -->
  <Server>http://47.113.219.65:6600</Server>
  
  <!-- 应用名称 -->
  <AppName>FuxaWinform</AppName>
  
  <!-- 应用ID（可选） -->
  <AppId></AppId>
  
  <!-- 应用密钥（可选） -->
  <Secret></Secret>
  
  <!-- 是否启用监控 -->
  <Enable>true</Enable>
  
  <!-- 采样率 0-1 -->
  <SampleRate>1.0</SampleRate>
</Stardust>
